:root {
  --primary-color: #6F4E37;
  --second-collor: #ECB176;
  --third-color: #DFE0E0;
  --four-color: #FCF9F8;
}

.halLog {
  background-color: var(--five-color);
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.halLog h1{
  color: var(--primary-color);
}

.login {
  width: 35%;
  height: fit-content;
  background-color: #fff;
  flex-direction: column;
  padding: 20px 20px 40px;
  border-radius: 10px;
}

.login input {
  width: 100%;
  height: 40px;
}

.login button {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  border: none;
  height: 50px;
}

.login p {
  margin: 10px 0 5px;
  color: #fff;
}

.login section {
  margin: 0px 0 20px;
}


.home {
  background-color: var(--third-color);
  width: 100%;
  height: 100vh;
}

.home .sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar p {
  cursor: pointer;
  font-weight: 700;
}

.sidebar svg:hover,
.jurusan .add:hover,
.sidebar button:hover {
  transform: scale(1.3);
}

.sidebar p:hover {
  transform: scale(1.3);
  color: var(--second-collor);
}

.home .content {
  background-color: var(--four-color);
  width: 95%;
  height: 95%;
  max-height: 95%;
  overflow-y: auto;
  border-radius: 10px;
}

.jurusan {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
}

.jurusan p {
  margin: 0;
  color: rgb(115, 110, 110);
}

.jurusan .option {
  border: 1px solid var(--second-collor);
  border-radius: 5px;
  padding: 5px;
}

.jurusan section input,
.jurusan section select,
.jurusan section textarea,
.login input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 20px;
  outline-color: green;
}

.jurusan .add, .jurusan .edited {
  width: 60px;
  height: 60px;
  background-color: var(--second-collor);
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  position: fixed;
  z-index: 9;
  right: 5%;
  bottom: 5%;
  padding-bottom: 5px;
}

.jurusan .edited{
  right: 10%;
  z-index: 9;
}

.jurusan button {
  width: 100px;
  height: 50px;
  margin: 20px 0 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 30px;
  background-color: var(--second-collor);
}

.jurusan .detail {
  width: 100%;
}

.jurusan .detail span {
  display: flex;
  margin-bottom: 20px;
  font-size: 1rem;
}

.jurusan .detail p {
  width: 40%;
  color: var(--primary-color);
}

.jurusan .detail input, .jurusan .detail b, .jurusan .detail select {
  width: 60%;
  margin-right: 50px;
  /* text-align: justify; */
}

.login{
  background-color: var(--primary-color);
}

.login button{
  border: none;
  background-color: var(--second-collor);
  border-radius: 10px;
  height: 50px;
  color: #fff;
}